

#JWT configuration
JWT_SECRET=QybSE1RZPnKdKRn3yp90me9ObHEKlwosZASI2Skm4ry
JWT_EXPIRATION=1h
JWT_REFRESH_EXPIRATION=3d
JWT_REFRESH_SECRET=Wy5z7jOvQY8GD29X1WNnH2gvAA8p7EO54EEyV8JLIW1

#Database configuration
DB_PASSWORD=
DB_USERNAME=
DATABASE_URL=

#Server configuration
PORT=4000